<app-nav></app-nav>

<!-- banner start -->
<img src="assets/handcraft.jpeg" class="img-fluid" alt="...">
<!-- banner end -->


<div class="con">

<div class="con2 mx-5 text-center">
<div class="c1 px-4 mt-3">
<h4>Our Vision</h4>
<p>
  Our vision for a craft company may include goals such as producing high-quality, handmade products that are unique and appealing to customers, building a strong brand and reputation, and creating a community of loyal customers.
</p>
</div>


<div class="c1 px-4 mt-3">
<h4>Our Story</h4>
<p>
  Crafty became known for its commitment to sustainability and community, as well as for its exceptional products. The team began participating in fairs, festivals, and online sales, and their reputation and customer base began to grow.
</p>
</div>





<div class="c1 px-4 mt-3">
<h4>Our Mission</h4>
<p>
  Our mission at Crafty is to create unique and beautiful handcrafted products that are made with care and attention to detail. We strive to use traditional techniques and locally-sourced materials to produce pieces that are not only functional but also become treasured products for our customers.
</div>

</div>
</div>
  <!-- conten start -->
<app-footer></app-footer>
